@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.fondo {
    background-color: #008060;
}
p, h3, footer {
    background-color: #e68a00;
}
/* Es intencional el coloreado de los parrafos en bloque, pero aún falta pulirlo */


a {
    text-decoration: none;

}

.color-trj {
    background-color: #008060;
}

body {
    background-color: pink;
}

.card-body {
    background-color: black;
}

.card-title {
    background-color: #008060; 
}

li {
    color: #e68a00;
}